*{
    margin: 0;
    padding: 0;
}

.cabecab {
background-color: #ff1111;
}
.navegacao{
    background-color: blueviolet;
}
.secao{
    background-color: darkorchid;
}
.rodape{
    background-color: aqua;
}